<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
			point="org.eclipse.ui.preferencePages">
	  <page
	        category="org.sodalite.dsl.AADM"
	        class="org.sodalite.dsl.ui.preferences.SodaliteBackendPreferencePage"
	        id="org.sodalite.dsl.aadm.ui.preferences.SodaliteBackendPreferencePage"
	        name="Sodalite Backend">
	  </page>
  </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.sodalite.dsl.ui.preferences.PreferenceInitializer">
    </initializer>
 </extension>
</plugin>
