<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.sodalite.org/dsl/AnsibleDsl"
			class = "org.sodalite.sdl.ansible.ansibleDsl.AnsibleDslPackage"
			genModel = "model/generated/AnsibleDsl.genmodel" />
	</extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.sodalite.sdl.ansible.Startup">
    </startup>
 </extension>
</plugin>
