body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 16px Helvetica,sans-serif;
}

a {
	color: #22a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 20px;
}

.container-editor {
	display: block;
	position: absolute;
	top: 10%;
	bottom: 0;
	left: 0.5%;
	width: 80%;
	margin: 20px;
}

.container-buttons {
	display: block;
	position: relative;
	top: 10%;
	bottom: 0;
	left: 80%;
	width: 15%;
	margin: 20px;
	padding: 20px;
	font-size: 14px;
	justify-content: right;
}

.header {
	display: block;
	position: absolute;
	background-color: rgb(154, 153, 150);
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	text-align: center;
	border-style: solid;
  	border: 2px solid #77767b;
 	color: white;
}

.header-editor {
	display: block;
	position: absolute;
	background-color: #e8e8e8;
	top: 6%;
	width: 79.5%;
	height: 5%;
	left: 2%;
	padding: 2px;
	border-style: solid;
  	border: 2px solid #77767b;
}

.content {
	display: block;
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 0;
	width: 640px;
}

#xtext-editor {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
	border: 1px solid #aaa;
}

.center {
    margin: auto;
    width: 40%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 1;
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
    opacity: 1;
    background-color: #e8e8e8;
}

.hideform {
    display: none;
}

.center input {
    float: right;
}
.center label {
    float: left;
}
.center span {
    display: block;
    overflow: hidden;
    flow:right;
}

.center input, .formLine button {
    box-sizing: border-box;
}

input[type="text"]#form_text{
	width: 50%
}

.button {
	margin: 2px;
}
