<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.sodalite.IDE.target" sequenceNumber="1">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://altran-mde.github.io/xtext-sirius-integration.io/p2/"/>
		<unit id="com.altran.general.integration.xtextsirius.design.feature.feature.group" version="0.15.1.201803201349"/>
		<unit id="com.altran.general.integration.xtextsirius.runtime.feature.feature.group" version="0.22.1.201803201349"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://updates.yakindu.com/statecharts/releases/"/>
		<unit id="org.yakindu.base.xtext.utils.gmf.feature.group" version="3.5.10.202002201251"/>
		<unit id="org.yakindu.base.xtext.utils.jface.feature.group" version="3.5.10.202002201251"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2020-06"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.22.0.v20200519-1135"/>
		<unit id="org.eclipse.jdt.feature.group" version="3.18.400.v20200604-0540"/>
		<unit id="org.eclipse.pde.feature.group" version="3.14.400.v20200604-0540"/>
		<unit id="org.eclipse.sirius.properties.feature.feature.group" version="6.3.1.202006101101"/>
		<unit id="org.eclipse.sirius.runtime.ide.xtext.feature.group" version="6.3.1.202006101101"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="2.22.0.v20200602-1533"/>
		<unit id="org.eclipse.sirius.specifier.feature.group" version="6.3.1.202006101101"/>
		<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="6.3.1.202006101101"/>
		<unit id="org.eclipse.sdk.feature.group" version="4.16.0.v20200604-0951"/>
		<unit id="org.eclipse.egit.feature.group" version="5.8.0.202006091008-r"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/sirius/updates/releases/6.3.1/2019-06"/>
		<unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository/"/>
		<unit id="org.junit.jupiter.engine" version="5.6.0.v20200203-2009"/>
		<unit id="org.junit.platform.launcher" version="1.6.0.v20200203-2009"/>
		<unit id="org.junit.platform.runner" version="1.6.0.v20200203-2009"/>
		<unit id="org.antlr.runtime" version="4.7.2.v20200218-0804"/>
		<unit id="org.junit" version="4.13.0.v20200204-1500"/>
		<unit id="org.junit.jupiter.api" version="5.6.0.v20200203-2009"/>
		<unit id="org.junit.platform.commons" version="1.6.0.v20200203-2009"/>
		<unit id="org.junit.platform.engine" version="1.6.0.v20200203-2009"/>
		<unit id="org.objectweb.asm" version="8.0.1.v20200420-1007"/>
		<unit id="org.objectweb.asm.tree" version="8.0.1.v20200420-1007"/>
		<unit id="org.opentest4j" version="1.2.0.v20190826-0900"/>
	</location>
</locations>
</target>